<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-2">
		   <h1>アーティスト一覧</h1>
	    </div>
	    <div class="col-xs-6"><br>
		  <%= link_to '新規登録', '/artists/new', class:"btn btn-default" %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<table class="table table-hover">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <% @artists.each do |artist| %>
                <tr>
                  <td> <%= artist.id %></td>
                  <td> <%= artist.artist_name %></td>
                  <td> <%= link_to "編集", edit_artist_path(artist.id) %>
                  </td>
                  <td> <%= link_to '削除', artist_path(artist.id), method: :delete, "data-confirm" => "削除しますか？", class: "btn-sm" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
		</div>
	</div>
</div>