<% if current_user.admin? %>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4"><%# offsetで両端除去 %>
				<h2 class="text-center">ユーザー情報</h2>
				<br>
				<%= form_for(@user) do |f| %>
				<h4><姓名></h4>
					<%= @user.last_name %> <%= @user.first_name %>
				<br>
				<h4><フリガナ></h4>
					<%= @user.ruby_last_name %> <%= @user.ruby_first_name %>
				<br>
				<h4><郵便番号(ハイフンなし)></h4>
					<%= @user.postcode %>
				<br>
				<h4><住所></h4>
					<%= @user.address %>
				<br>
				<h4><電話番号(ハイフンなし)></h4>
					<%= @user.phone %>
				<br>
				<h4><メールアドレス></h4>
					<%= @user.email %>
				<br>
				<%# 仮
				<h4><パスワード></h4>
					<%= @user.password %>
				<br>
				<br>
				<br>

				<div class="row">
					<%= link_to '編集', edit_user_path(@user), class: "btn-lg  edit_user_#{@user.id}" %>
					<%= link_to '退会', user_path, method: :delete, "data-confirm" => "退会させますか？", class: "btn-lg destroy_user_#{@user.id}" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
<!-- ユーザー側views -->
<% else %>
<div class="container">
	<div class="row">
		<section class="col-xs-12">
			<h3>マイページ</h3>
			<div class="row">
				<div class="col-xs-5">
					<div class="row">
						<div class="col-xs-3">
							<p><strong>ユーザー情報</strong></p>
						</div>
						<dl class="dl-horizontal col-xs-9"><%# 改行されないリスト  %>
							<%= form_for(@user) do |f| %>
								<dt>氏名</dt><dd><%= @user.last_name %><%= @user.first_name %></dd>
								<dt>住所</dt><dd><%= @user.address %></dd>
								<dt>電話番号</dt><dd><%= @user.phone %></dd>
								<dt>メール</dt><dd><%= @user.email %></dd>
							<% end %>
						</dl>
					</div>
				</div>

				<div class="col-xs-7">
					<div class="row">
						<div class="col-xs-4">
							<%= link_to "個人情報の変更はこちら", edit_user_path(@user), class: "" %>
						</div>
						<div class="col-xs-5">
							<%= link_to '退会', user_path, method: :delete, "data-confirm" => "退会しますか？", class: "btn-sm destroy_user_#{@user.id}" %>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
				<p>購入履歴</p>
				<div class="row">
				</div>
</div>
<% end %>


