<div class="container">
	<div class="row">
		<div class="col">
			<h2>ユーザー情報</h2>
			<%= form_for(@user) do |f| %>
			<h4>姓名</h4><br>
				<%= @user.last_name %><%= @user.first_name %>
			<br>
			<h4>フリガナ</h4><br>
				<%= @user.ruby_last_name %><%= @user.ruby_first_name %>
			<br>
			<h4>郵便番号(ハイフンなし)</h4><br>
				<%= @user.postcode %>
			<br>
			<h4>住所</h4><br>
				<%= @user.address %>
			<br>
			<h4>電話番号(ハイフンなし)</h4>
				<%= @user.phone %>
			<br>
			<h4>メールアドレス</h4><br>
				<%= @user.email %>
			<br>
			<h4>パスワード</h4><br>
				<%= @user.password %>
			<br>
			<br>

			<div class="row">
				<%= link_to '編集', edit_user_path, class: "edit_user_#{@user.id}" %>
			</div>
			<div class="row">
				<%= link_to '削除', user_path, method: :delete, "data-confirm" => "削除しますか？", class: "destroy_user_#{@user.id}" %>
			</div>
			<% end %>
		</div>
		<br>
		<br>
	</div>
</div>