<% if current_user.admin? %>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4"><%# offsetで両端除去 %>
				<h2 class="text-center">ユーザー情報</h2>
				<br>
				<%= form_for(@user) do |f| %>
				<h4><姓名></h4>
					<%= @user.last_name %> <%= @user.first_name %>
				<br>
				<h4><フリガナ></h4>
					<%= @user.ruby_last_name %> <%= @user.ruby_first_name %>
				<br>
				<h4><郵便番号(ハイフンなし)></h4>
					<%= @user.postcode %>
				<br>
				<h4><住所></h4>
					<%= @user.address %>
				<br>
				<h4><電話番号(ハイフンなし)></h4>
					<%= @user.phone %>
				<br>
				<h4><メールアドレス></h4>
					<%= @user.email %>
				<br>
				<%# 仮
				<h4><パスワード></h4>
					<%= @user.password %>
				<br>
				<br>
				<br>

				<div class="row">
					<%= link_to '編集', edit_user_path(@user), class: "btn-lg  edit_user_#{@user.id}" %>
					<%= link_to '退会', user_path, method: :delete, "data-confirm" => "退会させますか？", class: "btn-lg destroy_user_#{@user.id}" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
<!-- ユーザー側views -->
<% else %>
<div class="container">
	<div class="row">
		<section class="col-xs-12">
			<h3>マイページ</h3>
			<div class="row">
				<div class="col-xs-7 text-left">
					<div class="row">
						<div class="col-xs-3">
							<p><strong>ユーザー情報</strong></p>
						</div>
						<div class="col-xs-9">
							<%= form_for(@user) do |f| %>
								<p style="display:inline;">氏名：</p><%= @user.last_name %><%= @user.first_name %><br>
								<p style="display:inline;">住所：</p><%= @user.address %><br>
								<p style="display:inline;">電話番号：</p><%= @user.phone %><br>
								<p style="display:inline;">メール：</p><%= @user.email %><br>
							<% end %>
						</div>
					</div>
				</div>

				<div class="col-xs-5 text-right">
					<div class="row">
						<div class="col-xs-6">
							<%= link_to "個人情報の変更はこちら", edit_user_path(@user), class: "" %>
						</div>
						<div class="col-xs-4">
							<%= link_to '退会', user_path, method: :delete, "data-confirm" => "退会しますか？", class: "btn-sm destroy_user_#{@user.id}" %>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
<!-- 購入履歴 -->
	<div class="row">
		<p><strong>購入履歴</strong></p>
		<div class="col-xs-10 col-xs-offset-1">
			<% @orders.each do |order| %>
				<table>
					<tr>
						<th>購入者</th>
						<th>購入日</th>
						<th>送付先</th>
						<th>ステータス</th>
					</tr>
					<tr>
						<td><%= order.user.last_name %><%= order.user.first_name %><td>
						<td><%= order.created_at %></td>
						<td><%= order.user.shipment.ship_postcode %>
							<%= order.user.shipment.ship_address %>
						</td>
						<td><%= order.ship_status %></td>
					</tr>
				</table>
				<p><strong>購入内容</strong></p>
				<% @items.each do |item| %>
					<table>
						<tr>
							<th>シングル/アルバム名</th>
							<th>購入枚数</th>
							<th>小計</th>
						</tr>
						<tr>
							<td><%= item.product.product_name %></td>
							<td><%= item.order_item_number %></td>
							<td><%= item.order_item_price %></td>
						</tr>
						<p style="style:inline;">購入価格総計  </p><% item.order.total_price.to_i * 1.08.floor %>
					</table>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<% end %>




















