<h3>購入履歴</h3>
<div class="container">
	<div class="row">
		<p><strong>購入履歴</strong></p>
		<div class="col-xs-10 col-xs-offset-1">
			<% @orders.each do |order| %>
				<table>
					<tr>
						<th>購入者</th>
						<th>購入日</th>
						<th>送付先</th>
						<th>ステータス</th>
					</tr>
					<tr>
						<td><%= order.order_ship_last_name %><%= order.order_ship_first_name %><td>
						<td><%= order.created_at.strftime("%Y-%m-%d") %></td>
						<td><%= order.order_ship_post_code %>
							<%= order.order_ship_address %>
						</td>
						<td>
							<%= form_for(order) do |f| %>
								<%= f.select :ship_status, Order.ship_statuses.keys.to_a, {}, class: 'form-control input-sm' %>
								<%= f.submit %>
							<% end %>

						</td>
					</tr>
				</table>
				<p><strong>購入内容</strong></p>
				<% order.order_items.each do |order_item| %>
				<table>
					<tr>
						<td><%= order_item.product.product_name %><td>
						<td><%= order_item.order_item_number %></td>
					</tr>
				</table>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
