<div class="container">
    <div class="row">
        <div class="">
            <h4>店舗への問い合わせ</h4>
            <%= form_for(contact) do |f| %>
                <h4>件名</h4><br>
                    <%= f.text_field :title, class: "" %>
                <h4>内容</h4><br>
                    <%= f.text_area :contact_content, class: "" %><br>
            <%= f.submit '送信' %>
            <% end %>
        </div>
    </div>
</div>
<%# <%= render 'contacts/list', contact: @contact %>