<div class="container">
    <div class="row">
        <div class="">
        	<h2>問い合わせ詳細</h2>

        	<table class="table">
        		<tr>
        			<th>投稿日時</th>
        			<th>ユーザー名</th>
        			<th>件名</th>
        			<th>内容</th>
        		</tr>
        		<tr>
        			<td><%= @contact.created_at %></td>
        			<td><%= @contact.user.last_name %><%= @contact.user.first_name %></td>
        			<td><%= @contact.title %></td>
        			<td><%= @contact.contact_content %></td>
        		</tr>
        	</table>

            <%= @contact.responce %>
            <br>
            <br>
        	<h3>返信フォーム</h3><br>
        	<%= form_for [@user, @contact] do |f| %>
				<%= f.text_area :responce, autofocus: true, class: "responce" %><br>
    			<%= f.submit "返信", class: "" %>
        	<% end %>
		</div>
	</div>
</div>