<div class="container">
  <div class="row">
    <div class="edit_product_box col-xs-6 col-xs-offset-3">
      <h2>商品新規登録</h2>
        <%= form_for (@product) do |f| %>

        <div class="field">
          <%= f.label :product_name, "商品名" %>
          <%= f.text_field :product_name, class: 'form-control input-sm' %>
        </div>

        <div class="field">
          <%= f.label :artist_id, "アーティスト" %>
          <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, class: 'form-control input-sm' %>
        </div>

        <div class="field">
          <%= f.label :genre_id, "ジャンル" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, class: 'form-control input-sm' %>
        </div>

        <div class="field">
          <%= f.label :label_id, "レーベル" %>
          <%= f.collection_select :label_id, Label.all, :id, :label_name, class: 'form-control input-sm' %>
        </div>

        <div class="field">
          <%= f.label :product_category, "カテゴリ" %>
          <%= f.select :product_category, Product.product_categories.keys.to_a, {}, class: 'form-control input-sm' %>
        </div>

        <div class="field">
          <%= f.label :jacket_image_id, "ジャケット画像" %>
          <%= f.attachment_field :jacket_image %>
        </div>

        <div class="field">
          <%= f.label :price, "税抜き価格" %>
          <%= f.number_field :price, value: "1", min: "1", class: 'form-control input-sm' %>
        </div>

        <div class="field">
          <%= f.label :stock, "在庫数" %>
          <%= f.number_field :stock, min: 0, class: 'form-control input-sm' %>
        </div>

        <div class="field">
          <%= f.label :status, "販売状況" %>
          <%= f.select :status, Product.statuses.keys.to_a, {}, class: 'form-control' %>
        </div>
        <div class="recorded_musics">
        <%= f.fields_for :recorded_musics do |recorded_music| %>
            <%= render 'recorded_music_fields', f: recorded_music, class: 'form-control' %>
        <% end %>
        <div class="links">
              <%= link_to_add_association '＋曲を追加', f, :recorded_musics, class: "btn btn-link" %>
        </div>
        </div>
        <div class="actions">
          <%= f.submit "登録", class: 'btn btn-success w-100' %>
        </div>
        <% end %>
    </div>
  </div>
</div>