<div class="container-fluid padi">
	<div class="row">
	    <div class="col-xs-2">
	        <%= render '/contacts/list', contact: @contact, product_ranking: @product_ranking %>
	    </div>
		<div class="col-xs-10">
			<div class="row">
				<div class="col-xs-4">
					<h2><strong><%= @product.product_name %></strong><small> <%= @product.product_category %></small></h2>
					<h3><%= @product.artist.artist_name %><small> <%= @product.label.label_name %></small></h3>
					<%= attachment_image_tag @product, :jacket_image, format: 'jpeg', fallback: "no_image.jpg" ,size: '380x380',class: 'img-responsive img-rounded' %>
					 <% if user_signed_in? %>
						<% if @product.favorited_by?(current_user) %>
						  <h3>
						    <%= link_to product_favorite_path(@product), method: :delete do %>
						      <i class="far fa-thumbs-up" aria-hidden="true" style="color: blue;"></i>
						    <% end %>
						    <%= @product.favorites.count %> いいね
						  </h3>
						<% else %>
						  <h3>
						    <%= link_to product_favorites_path(@product), method: :post do %>
						      <i class="fas fa-thumbs-up" aria-hidden="true" style="color: grey;"></i>
						    <% end %>
						    <%= @product.favorites.count %> いいね
						  </h3>
						<% end %>
					<% end %>
				</div>
				<div class="recorded-music-table col-xs-6">
				    <% @recorded_musics.each do |key,recorded_musics| %>
					<table class="table table-hover table-condensed">
				        <thead>
				            <tr class="info">
				                <th><strong>ディスク<%= key %></strong></th>
				                <th>&nbsp;</th>
				            </tr>
				        </thead>
				        <tbody>
				        	<% recorded_musics.each do |recorded_music| %>
				              <tr class="active">
				              	<td>
				              	<%= recorded_music.recorded_music_number %>
				                </td>
				              	<td>
				              	<strong><%= recorded_music.recorded_music_name %></strong>
				                </td>
				              </tr>
				            <% end %>
				        </tbody>
				    </table>
				    <% end %>
				</div>
				<div class="cart-panel col-xs-2">
					<div class="panel panel-primary">
						<div class="panel-heading">
							購入はこちらから
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								￥<%= (BigDecimal(@product.price) * BigDecimal("1.08")).ceil %>(税込)
							</li>
							<li class="list-group-item">
								在庫状況:
								<% if @product.stock.to_i == 0 %>
			                      <i class="fas fa-times my-red"></i>
			                    <% elsif @product.stock.to_i > 0 && @product.stock.to_i <= 10 %>
			                      <i class="fas fa-exclamation-triangle my-orange"></i>
			                    <% else %>
			                      <i class="far fa-circle my-green"></i>
			                    <% end %>
			                </li>
			                 <% if user_signed_in? %>
								<%= form_for (@user_product) do |user_product| %>
								<li class="list-group-item">
										<%= user_product.hidden_field :product_id, :value => @product.id %>
										<%= user_product.hidden_field :user_id, :value => current_user.id %>
										<div class ="form-froup">
											<%= user_product.label :user_product_number, "数量",class: "control-label" %>
											<%= user_product.number_field :user_product_number, value: "1", min: "1",required: true, class: 'form-control' %>
									    </div>
								</li>
								<li class="list-group-item">
									<% if @product.stock.to_i > 0 %>
								      <%= user_product.submit "カートに追加", class: 'btn btn-primary' %>
								    <% end %>
								</li>
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<h4>この商品のレビュー  
                        <% if user_signed_in? %>
						<%= link_to 'レビューを投稿する', new_product_review_path(@product.id), class:"btn btn-default" %>
						<% end %>
						</h4>
				        <% @reviews.each do |review| %>
						    <table class="table table-hover reviews">
						        <tbody>
						            <tr class="active">
						                <td>
						                  	<dt> <%= review.created_at.strftime("%Y-%m-%d") %></dt>
						                </td>
						                <td> <%= review.review_content %></td>
						                <% if user_signed_in? || current_user.admin? %>
							                <td> <%= link_to "編集", edit_product_review_path(review.product,review.id) %></td>
							                <td> <%= link_to '削除', product_review_path(review.product,review.id), method: :delete, "data-confirm" => "削除しますか？" %></td>
						                <% end %>
						            </tr>
						        </tbody>
					        </table>
			            <% end %>
			        </div>
				</div>
			</div>
		</div>
	</div>
</div>