<%= form_for(@shipment) do |f| %>
<div class="container">
  <div class="row">
     <div class="col-xs-8 col-xs-offset-2">
     </div>
 </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="text-center">
      <h2>配送先住所 新規登録</h2>
      </div>
    <div class="field">
        <p> 姓名</p>
      <div class="row">
        <div class="col-xs-6">
        <p>姓</p>
        <%= f.text_field :ship_last_name, style: "width:100%;" %>
        </div>
        <div class="col-xs-6">
        <p>名</p>
        <%= f.text_field :ship_first_name, style: "width:100%;" %>
        </div>
      </div>
      <!-- </form> -->
    </div>
    <div class="field">
      <p>フリガナ</p>
      <div class="row">
        <div class="col-xs-6">
      <p>セイ</p>
        <%= f.text_field :ship_ruby_last_name, style: "width:100%;" %>
      </div>
      <div class="col-xs-6">
      <p>メイ</p>
        <%= f.text_field :ship_ruby_first_name, style: "width:100%;" %>
      </div>
    </div>
    </div>
    <div class="field">
      <p>郵便番号（ハイフンなし）</p>
        <%= f.text_field :ship_postcode, style: "width:100%;" %>
    </div>
    <div class="field">
      <p>住所</p>
        <%= f.text_field :ship_address, style: "width:100%;" %>
    </div>
    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  </div>
  </div>
</div>
<% end %>
