<!DOCTYPE html>
<html>
  <head>
    <title>NaganoRecordOnline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>

  <body>

      <header>
        <div class="top_box clearfix">
            <div class="top_image">
               <%= link_to image_tag('nagano_record_online.png', { :border => '0', :alt => 'トップページ', :size => '100x100'}), root_path %>
            </div>
            <div class="top_link">
              <div class="header_link_item_box">
                  <li class="header_link_item">
                    <% if user_signed_in? %>
                      <%= link_to current_user.first_name, user_path(current_user) %>様
                    <% else %>
                      <%= link_to "ゲスト様", new_user_session_path %>
                    <% end %>
                  </li>
                  <li class="header_link_item">
                    <%= link_to "新規登録", new_user_registration_path%>/
                    <%= link_to "ログイン", new_user_session_path %>
                  </li>
                  <li class="header_link_item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
              </div>
            </div>
        </div>

        <!-- ここから検索BOXおよびNAVバーの記述 -->
        <% if current_user && current_user.admin? %>
            <nav class="navbar navbar-default">
              <div class="container">
                <div class="row">
                  <div class="col-xs-6">
                      <%= search_form_for @search, url: products_search_path do |f| %>
                        <div class="input-group">
                            <%= f.text_field :product_name_cont ,placeholder: '商品名を入力...', class: 'form-control' %>
                            <span class="input-group-btn">
                            <%= f.submit ("検索") , class: 'btn btn-default'%>
                            </span>
                        </div>
                      <% end %>
                  </div>
                  <div class="col-xs-6">
                      <div class="collapse navbar-collapse pr0" id="navbarEexample1">
                          <ul class="nav navbar-nav">
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">管理 <span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><%= link_to "商品管理", products_admin_path %></li>
                                <li><%= link_to "アーティスト管理", artists_path %></li>
                                <li><%= link_to "ジャンル管理", genres_path %></li>
                                <li><%= link_to "レーベル管理", labels_path %></li>
                                <li><%= link_to "ユーザー管理", users_path %></li>
                                <li><%= link_to "問い合わせ管理", contacts_path %></li>
                              </ul>
                              </li>
                              <li>
                                <%= link_to "このサイトについて", about_path %>
                              </li>
                              <li>
                                <%= link_to "マイページ", user_path(current_user) %>
                              </li>
                              <li>
                                <%= link_to "カート", user_products_path,class: 'fas fa-shopping-cart' %>
                              </li>
                          </ul>
                      </div>
                  </div>
                 </div>
              </div>
            </nav>
        <% else %>
            <nav class="navbar navbar-default">
              <div class="container">
                <div class="row">
                  <div class="col-xs-6">
                      <%= search_form_for @search, url: products_search_path do |f| %>
                        <div class="input-group">
                            <%= f.text_field :product_name_cont ,placeholder: '商品名を入力...', class: 'form-control' %>
                            <span class="input-group-btn">
                            <%= f.submit ("検索") , class: 'btn btn-default'%>
                            </span>
                        </div>
                      <% end %>
                  </div>
                  <div class="col-xs-6">
                      <div class="collapse navbar-collapse pr0" id="navbarEexample1">
                          <ul class="nav navbar-nav">
                              <li>
                                <%= link_to "このサイトについて", about_path %>
                              </li>
                              <li>
                                <%= link_to "マイページ", orders_path %>
                              </li>
                              <li>
                                <%= link_to "カート", user_products_path,class: 'fas fa-shopping-cart' %>
                              </li>
                          </ul>
                      </div>
                  </div>
                 </div>
              </div>
            </nav>
        <% end %>
      </header>

        <%= yield %>
  <!-- ここからfooterの記述 -->
      <footer>
           <p class="my-black">©︎2019 Hot milk</p>
      </footer>
  </body>

</html>
