<!DOCTYPE html>
<html>
  <head>
    <title>NaganoRecordOnline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header>
  <div class="top_box clearfix">
      <div class="top_image">
        <h1 class="top_title tc-white">Nagano Record Online</h1>
      </div>
      <div class="top_link">
        <div class="header_link_item_box">
            <li class="header_link_item tc-white">
              <%= link_to "ユーザー様", orders_path, class: "tc-white" %>
            </li>
            <li class="header_link_item tc-white">
              <%= link_to "新規登録/ログイン", new_user_session_path, class: "tc-white" %>
            </li>
            <li class="header_link_item tc-white">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "tc-white" %>
            </li>
        </div>
      </div>
  </div>

  <!-- ここから検索BOXおよびNAVバーの記述 -->

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
              <dl class="searchbox">
                <%= search_form_for @search, url: products_search_path do |f| %>
                  <dt><%= f.text_field :product_name_cont ,placeholder: '検索するテキストを入力...' %></dt>
                  <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
                <% end %>
              </dl>
        </div>
        <div class="col-xs-6">
            <div class="collapse navbar-collapse pr0" id="navbarEexample1">
                <ul class="nav navbar-nav">
                    <li>
                      <%= link_to "このサイトについて", about_path %>
                    </li>
                    <li>
                      <%= link_to "マイページ", orders_path %>
                    </li>
                    <li>
                      <%= link_to "カート", user_products_path %>
                    </li>
                </ul>
            </div>
        </div>
       </div>
      </div>

  </nav>
</header>

    <%= yield %>
  <!-- ここからfooterの記述 -->

  <footer>
       <p class="tc-white">@2019 Hot milk</p>
  </footer>
  </body>

</html>
